body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

code {
  background-color: #eee;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.active {
  color: green;
}

.inactive {
  color: orange;
}

.media-body.description {
  max-height: 14em;
  overflow: hidden;
  line-height: 1.4;
}

.media-body.description h1,
.media-body.description h2,
.media-body.description h3,
.media-body.description h4,
.media-body.description h5,
.media-body.description h6 {
  font-size: inherit;
  font-weight: bold;
  margin: 0;
}
